body{
    background-image: url(../images/campodebatalha.jpg);
    background-size: cover;
    background-position: center;
}
.fightarea {
    display: flex;
    gap: 20px;
}
#char,
#monster {
    flex: 1;
}
.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}
.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    color: #fff;
    font-weight: bold;
}
.personagem{

  max-width: 300px;

}
.personagem img{
    max-width: 300px;
}
.log{
    color: #fff;
}